<form>
    <div
        *ngFor="let radioButtonList of radioButtonList"
        class="radiobutton-container"
        [ngClass]="{'disabled': radioButtonList.disabled}">

        <div class="radiobutton">
            <input
                id="{{radioButtonList.id}}"
                type="radio"
                name="{{radioButtonList.name}}"
                [value]="radioButtonList.value"
                (click)="changeSelected(radioButtonList.value)">
            <label for="{{radioButtonList.id}}"></label>
        </div>
        <span>{{radioButtonList.label}}</span>
    </div>
</form>
