// BASE COLORS
$primary:                       #2196f3;
$secondary:                     #000fff; //to be define
$red:                           #BD0546;
$green:                         #43C86F;
$orange:                        #FFA500;

// COLOR PALETTE
$white:                         #FFFFFF;
$black:                         #000000;
$anthracite:                    #212121;
$grey:                          #BCBCBC;
$softgrey:                      #F2F2F2;
$darkgrey:                      #888F97;

// ALPHA COLOR SETTING
$alphawhite:                    rgba(255, 255, 255, 0.85);
$alphablack:                    rgba(0, 0, 0, 0.9);
$alphaanthracite:               rgba(51, 51, 51, 0.05);
$alphahover:                    rgba(70, 70, 70, 0.3);
$alphadisabled:                 rgba(70, 70, 70, 0.2);
$alphablue:                     rgba(37, 99, 138, 0.18);

// SHADOW COLOR SETTING
$box-shadow:                    1px 1px 7px 0px rgba(0,0,0,0.06);

// MODAL OVERLAY SETTING
$modal-overlay:                 rgba(0, 0, 0, 0.6);

// FONT COLOR
$primary-font-color:            #657082;
$placeholder:                   #bfbfbf;